{# src/Bdtln/UserBundle/Resources/views/Category/add_category.html.twig #}
{#
    Here an administrator will can create a category
#}

{% extends "BdtlnUserBundle::layout.html.twig" %}


{% block fos_user_content %}
   <div id="form">
    {{ "You will update the category" | trans }}
    {% if app.request.locale == 'fr' %}
        {{ category.frenchTitle }}
    {% else %}
        {{ category.englishTitle }}
    {% endif %}
    
    <form method="POST" action="{{ path('bdtln_user_edit_category', {'id': category.id}) }}">
        {{ form_errors(form) }}
        <div>
            {% set englishTitle = "English title" | trans %}
            
            {{ form_label(form.englishTitle, englishTitle) }}
            {{ form_errors(form.englishTitle) }}
            {{ form_widget(form.englishTitle) }}
        </div>
        <div>
            {% set frenchTitle = "French title" | trans %}
            {{ form_label(form.frenchTitle, frenchTitle) }}
            {{ form_errors(form.frenchTitle) }}
            {{ form_widget(form.frenchTitle) }}
        </div>
      
        {{ form_rest(form) }}
        
        <input type="submit" class="btn btn-primary" value="{{ "Update" | trans }}" />
    </form>
     </div> 
    <button id="back" name="back" class="btn btn-primary" onClick="history.back()">{{ "Back" | trans }}</button> 
    
    
    
    
{% endblock %}