{# src/Bdtln/AxeBundle/Resources/views/Axe/add_axe.html.twig #}
{#
    Here an administrator will can create a axe
#}

{% extends "BdtlnAxeBundle::layout_axe.html.twig" %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>
	<script type="text/javascript">
		tinymce.init({
			selector: "textarea",
			theme: "modern",
			plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern jbimages"
		],
			
			toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons jbimages"
			
		});
</script>
    {{ parent() }}
{% endblock %}


{% block axe_body %}
    
    
    <p>{{ "Add an axe" | trans }}</p>
    
    {#The sessions flashbag like an error written in controller will be displayed here#}
    {% for information in app.session.flashbag.get('information')%}
    <p>
        {{ information | trans }}
    </p>
    {% endfor %}
    <form action="{{ path('bdtln_axe_add_axe') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) | trans }}
        <div>
            {{ form_label(form.englishTitle, 'Titre anglais') }}
            {{ form_errors(form.englishTitle) }}
            {{ form_widget(form.englishTitle) }}
        </div>
        <div>
            {{ form_label(form.frenchTitle, 'Titre français') }}
            {{ form_errors(form.frenchTitle) }}
            {{ form_widget(form.frenchTitle) }}
        </div>
        <div>
            {{ form_label(form.englishSummary, 'Résumé anglais') }}
            {{ form_errors(form.englishSummary) }}
            {{ form_widget(form.englishSummary) }}
        </div>
        <div>
            {{ form_label(form.frenchSummary, 'Résumé français') }}
            {{ form_errors(form.frenchSummary) }}
            {{ form_widget(form.frenchSummary) }}
        </div>
        <div>
            {{ form_label(form.englishDescription, 'Description anglaise') }}
            {{ form_errors(form.englishDescription) }}
            {{ form_widget(form.englishDescription) }}
        </div>
        
        <div>
            {{ form_label(form.frenchDescription, 'Description française') }}
            {{ form_errors(form.frenchDescription) }}
            {{ form_widget(form.frenchDescription) }}
        </div>
        
        
        
        {{ form_rest(form) }}

        <div class="control-group">
            <label class="control-label" for="submit"></label>
            <div class="controls">
                <button id="submit" name="submit" class="btn btn-primary">{{ "Add" | trans }}</button>
            </div>
        </div>
        
        
    </form>
    
    
    
<script type="text/javascript">
    var editorFrench = CKEDITOR.replace( 'bdtln_axebundle_axe_frenchDescription' );
    var editorEnglish = CKEDITOR.replace( 'bdtln_axebundle_axe_englishDescription' );
//    CKFinder.setupCKEditor( editor, 'ckfinder/' );
</script>
{% endblock %}