{# src/BdtlnAxeBundle/Resources/views/Axe/axe_list.html.twig #}
{#
    Here everybody will can see a list with all axes
#}

{% extends "BdtlnAxeBundle::layout_axe.html.twig" %}

{% block description %}
{{ "The list of all projects, sorted by axe. " ~ parent() }}
{% endblock %}

{% block axe_body %}
    {# if the controlle has given the axes to us, we display all axes with all project in#}
    {% if axes is not null and axes|length > 0 %}
        {% for axe in axes %}
            <div class="row clearfix" >
            
                <div class="col-md-10 column" id="axe">
                    
                    {% if app.request.locale == "en" %}
                        <a href="{{ path('bdtln_axe_display_axe', {'slug': axe.slug}) }}"><h3>{{ axe.englishTitle }}</h3></a>
                {% else %} {#if locale = fr#}
                    <a href="{{ path('bdtln_axe_display_axe', {'slug': axe.slug}) }}"><h3>{{ axe.frenchTitle }}</h3></a>
                {% endif %}
                    
                    
                    <hr>
                    <ul>
                        {% set projects = axe.projects %}
                        {% if projects is not null %}
                            {% for project in projects %}
                                
                                {# Display the title and summary according to the locale #}
                                {% if app.request.locale == "en" %}
                                    <a href="{{ path('bdtln_project_display', {'slug': project.slug}) }}"><h4>{{ project.englishTitle }}</h4></a>
                                    <p>{{ project.englishSummary }}</p>
                                {% else %} {#if locale = fr#}
                                    <a href="{{ path('bdtln_project_display', {'slug': project.slug}) }}"><h4>{{ project.frenchTitle }}</h4></a>
                                    <p>{{ project.frenchSummary }}</p>
                                {% endif %}
                                <hr>
                            {% endfor%}
                        {% endif %}
                    </ul>
                </div>
                
		<div class="col-md-2 column">
		</div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}