{# src/BdtlnAxeBundle/Resources/views/Axe/display_axe.html.twig #}
{#
    Here everybody will can see a list with all axes
#}

{% extends "BdtlnAxeBundle::layout_axe.html.twig" %}

{% block axe_body %}
    
    {# If the current user is SUPER ADMIN or admin of this axe, he can see the links below #}
    {% if isAdmin == true %}
        <a href="{{ path('bdtln_axe_update_axe' , {'slug': axe.slug }) }}">{{ "Update the axe" | trans }}</a>
       <a href="{{ path('bdtln_axe_update_managers', {'slug': axe.slug }) }}">{{ "Manage the administrators" | trans }}</a>
         <a href="{{ path('bdtln_axe_delete_axe', {'slug': axe.slug }) }}">{{"Delete the axe" | trans }}</a>
    {% endif %}
    <div class="row clearfix" >
		<div class="col-md-10 column" id="axe">
                    <div class="lead">     
                        {# Display page in english #}
                        {% if app.request.locale == "en" %}
                            {% if axe.englishDescription is not null %}
                                <h3>{{ axe.englishTitle}}</h3>
                                <hr>
                                {{ axe.englishDescription | purify | raw }}
                            {% else %}
                                {{ 'There is no description in english, but maybe there is in french.' }}
                            {% endif %}
                        {% else %} {#if locale = fr#}
                            {% if axe.frenchDescription is not null %}
                                <h3>{{ axe.frenchTitle}}</h3>
                                <hr>
                                {{ axe.frenchDescription | purify | raw }}
                            {% else %}
                                {{ "Il n'y a pas de description en français, mais peut-être qu'il y en a une en anglais." }}
                            {% endif %}
                        {% endif %}
                    </div>

		</div>
		<div class="col-md-2 column">
		</div>
	</div>
    
    
    
    
    
{% endblock %}