{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit', {'username': user.username}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    
    {% if user.photo is not null %}
        current photo :
        <img id="current-photo" src="{{asset(user.photo.uploadDir ~ '/' ~ user.photo.url)}}" alt="{{ 'Photo of ' ~ user.photo.alt }}"/>
        <br />
        <label>Just delete my photo</label><input type="checkbox" name="delete_photo" value="yes"/>
        <br />
    {% endif %}
    
    <select required="required" name="category">
        <option value="" >Category</option>
        {% for category in categories %}
            <option value="{{ category.id }}" 
                    {% if category == user.category %}
                        {{ 'selected="selected"' }}
                    {% endif %}
                    >
                {% if app.request.locale == 'fr' %}
                    {{ category.frenchTitle }}
                {% else %}
                    {{ category.englishTitle }}
                {% endif %}
            </option>
        {% endfor %}
    </select>
    
    {# root can disable the account #}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% if user.enabled == true %}
            <br /><label for="disable_account">Disable account</label><input type="checkbox" name="disable_account" value="yes" />
        {% else %}
            <br /><label for="enable_account">Enable account</label><input type="checkbox" name="enable_account" value="yes"/>
        {% endif %}
    {% endif %}
    
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
