{% extends "FOSUserBundle::layout.html.twig" %}

{% block description %}
{{ "Member " ~ user.firstName ~ " " ~ user.lastName ~ ". " ~ parent() }}
{% endblock %}

{% block fos_user_content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_profile_edit', {'username': user.username}) }}">{{ 'Edit profile' | trans }}</a>
        <a href="{{ path('fos_user_change_password', {'username': user.username}) }}">{{ 'Change password' | trans }}</a>
    {% endif %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
