{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.firstname'|trans }}: {{ user.firstName }}</p>
    
    <p>{{ 'profile.show.lastname'|trans }}: {{ user.lastName }}</p>
    
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    
    <p>{{ 'profile.show.frenchbiography'|trans }}: {{ user.frenchBiography }}</p>
    
    <p>{{ 'profile.show.englishbiography'|trans }}: {{ user.englishBiography }}</p>
    
    <p>{{ 'profile.show.dateregister'|trans }}: {{ user.dateRegister|localizeddate('long', 'none', app.request.locale) }}</p>
    
    {% if user.enabled == false %}
        <p>{{ 'Disabled since' | trans }} {{ user.dateLeaving|localizeddate('long', 'none', app.request.locale)}}</p>
    {% endif %}
    
    {% if user.category is not null %}
        {% if app.request.locale == 'fr' %}
            <p>{{ 'profile.show.category'|trans }}: {{ user.category.frenchTitle }}</p>
        {% else %}
            <p>{{ 'profile.show.category'|trans }}: {{ user.category.englishTitle }}</p>
        {% endif %}
    {% endif %}
</div>
