{# src/Bdtln/ProjectBundle/Resources/views/Project/add_project.html.twig #}
{#
    Here an administrator will can create a project
#}

{% extends "BdtlnProjectBundle::layout_project.html.twig" %}

{% block scripts %}
    <!--<script type="text/javascript" src="ckfinder/ckfinder.js"></script>-->
    <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    {{ parent() }}
{% endblock %}


{% block project_body %}
    
    {#The sessions flashbag like an error wrote in controller will be displayed here#}
    {% for information in app.session.flashbag.get('information')%}
    <p>
        {{ information }}
    </p>
    {% endfor %}
    <form action="{{ path('bdtln_project_add_project') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div>
            {% set englishTitle = "English title" | trans %}
            
            {{ form_label(form.englishTitle, englishTitle) }}
            {{ form_errors(form.englishTitle) }}
            {{ form_widget(form.englishTitle) }}
        </div>
        <div>
            {% set frenchTitle = "French title" | trans %}
            {{ form_label(form.frenchTitle, frenchTitle) }}
            {{ form_errors(form.frenchTitle) }}
            {{ form_widget(form.frenchTitle) }}
        </div>
        <div>
            {% set englishSummary = "English summary" | trans %}
            {{ form_label(form.englishSummary, englishSummary) }}
            {{ form_errors(form.englishSummary) }}
            {{ form_widget(form.englishSummary) }}
        </div>
        <div>
            {% set frenchSummary = "French summary" | trans %}
            {{ form_label(form.frenchSummary, frenchSummary) }}
            {{ form_errors(form.frenchSummary) }}
            {{ form_widget(form.frenchSummary) }}
        </div>
        <div>
            {% set englishDescription = "English description" | trans %}
            {{ form_label(form.englishDescription, englishDescription) }}
            {{ form_errors(form.englishDescription) }}
            {{ form_widget(form.englishDescription) }}
        </div>
        
        <div>
            {% set frenchDescription = "French descripion" | trans %}
            {{ form_label(form.frenchDescription, frenchDescription) }}
            {{ form_errors(form.frenchDescription) }}
            {{ form_widget(form.frenchDescription) }}
        </div>
        <div>
            {% set beginningDate = "Beginning date" | trans %}
            {{ form_label(form.beginningDate, beginningDate) }}
            {{ form_errors(form.beginningDate) }}
            {{ form_widget(form.beginningDate) }}
        </div>
        <div>
            {% set endingDate = "Ending date" | trans %}
            {{ form_label(form.endingDate, endingDate) }}
            {{ form_errors(form.endingDate) }}
            {{ form_widget(form.endingDate) }}
        </div>
        
        <label for="axe">{{ "Main axe" | trans }}</label>
        <select name="axe">
            <option value="" selected="selected">--------</option>
            {% for axe in axes %}
                <option value="{{ axe.id }}">{{ axe.frenchTitle }}</option>
            {% endfor %}
        </select><br />
        
        {{ form_rest(form) }}
        
        <input type="submit" value="Submit" />
    </form>
    
    
    
<script type="text/javascript">
    var editorFrench = CKEDITOR.replace( 'bdtln_projectbundle_project_frenchDescription' );
    var editorEnglish = CKEDITOR.replace( 'bdtln_projectbundle_project_englishDescription' );
//    CKFinder.setupCKEditor( editor, 'ckfinder/' );
</script>
{% endblock %}