{# src/Bdtln/ProjectBundle/Resources/views/Project/delete_project.html.twig #}
{#
    Here an administrator will can delete a project
#}

{% extends "BdtlnProjectBundle::layout_project.html.twig" %}


{% block project_body %}
    
    {#The sessions flashbag like an error written in controller will be displayed here#}
    {% for information in app.session.flashbag.get('information')%}
    <p>
        {{ information }}
    </p>
    {% endfor %}
    
    
    <form method="POST" action="{{ path('bdtln_project_delete_project', {'slug': slug}) }}" >
        <p>{{ "Do you want delete this project ?" | trans }}</p><br />
        
        <label>{{ "Yes" | trans }}</label><input type="radio" name="delete" value="yes" />
        <label>{{ "No" | trans }}</label><input type="radio" name="delete" value="no" />
        <div class="control-group">
            
            <input type="hidden" name="token" value="{{ app.session.get('token') }}" />
            <label class="control-label" for="submit"></label>
            <div class="controls">
                <button id="submit" name="submit" class="btn btn-primary">{{ "Delete" | trans }}</button>
            </div>
        </div>
        
    </form>
    
    
    
    
    
    
    
{% endblock %}