{# src/Bdtln/ProjectBundle/Resources/views/Project/update_project.html.twig #}
{#
    Here an administrator will can update a project
#}

{% extends "BdtlnProjectBundle::layout_project.html.twig" %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>
	<script type="text/javascript">
		tinymce.init({
			selector: "textarea",
			theme: "modern",
			plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern jbimages"
		],
			
			toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons jbimages"
			
		});
</script>
    {{ parent() }}
{% endblock %}


{% block project_body %}
    
    <h2 id ="titre">
        {% if app.request.locale == 'fr' %}
            {{ project.frenchTitle }}
        {% else %}
            {{ project.englishTitle }}
        {% endif %}
    </h2>
    
    {#The sessions flashbag like an error wrote in controller will be displayed here#}
    {% set informations = app.session.flashbag.get('information') %}
    {% if informations is not null and informations|length > 0 %}
        <div class="info-error center-block">
            {#The sessions flashbag like an error wrote in controller will be displayed here#}
            {% for information in informations%}
                <p class="text-danger text-center">
                    {{ information | trans }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{{ path('bdtln_project_update_project', {'slug': project.slug}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="col-md-6 column" >
         <div>
            {% set englishTitle = "English title" | trans %}
            
            {{ form_label(form.englishTitle, englishTitle) }}
            {{ form_errors(form.englishTitle) }}
            {{ form_widget(form.englishTitle) }}
        </div>
        <div>
            {% set englishSummary = "English summary" | trans %}
            {{ form_label(form.englishSummary, englishSummary) }}
            {{ form_errors(form.englishSummary) }}
            {{ form_widget(form.englishSummary) }}
        </div>
        <div>
            {% set englishDescription = "English description" | trans %}
            {{ form_label(form.englishDescription, englishDescription) }}
            {{ form_errors(form.englishDescription) }}
            {{ form_widget(form.englishDescription) }}
        </div>
        <div>
            {% set beginningDate = "Beginning date" | trans %}
            {{ form_label(form.beginningDate, beginningDate) }}
            {{ form_errors(form.beginningDate) }}
            {{ form_widget(form.beginningDate) }}
        </div>
    </div>
    <div class="col-md-6 column" >
        <div>
            {% set frenchTitle = "French title" | trans %}
            {{ form_label(form.frenchTitle, frenchTitle) }}
            {{ form_errors(form.frenchTitle) }}
            {{ form_widget(form.frenchTitle) }}
        </div>
        <div>
            {% set frenchSummary = "French summary" | trans %}
            {{ form_label(form.frenchSummary, frenchSummary) }}
            {{ form_errors(form.frenchSummary) }}
            {{ form_widget(form.frenchSummary) }}
        </div>
        <div>
            {% set frenchDescription = "French descripion" | trans %}
            {{ form_label(form.frenchDescription, frenchDescription) }}
            {{ form_errors(form.frenchDescription) }}
            {{ form_widget(form.frenchDescription) }}
        </div>
        <div>
            {% set endingDate = "Ending date" | trans %}
            {{ form_label(form.endingDate, endingDate) }}
            {{ form_errors(form.endingDate) }}
            {{ form_widget(form.endingDate) }}
        </div>
    </div>


        
        
        {{ form_rest(form) }}
        

        <div class="control-group">
            
            <label class="control-label" for="submit"></label>
            <div class="controls">
                <button id="submit" name="submit" class="btn btn-primary">{{ "Update" | trans }}</button>
            </div>
        </div>
        
        
        
        
    </form>
    <button id="back" name="back" class="btn btn-primary" onClick="window.location.replace('{{ path('bdtln_project_display', {'slug': project.slug}) }}')">{{ "Back" | trans }}</button>

    
    
{% endblock %}