{# src/Bdtln/ProjectBundle/Resources/views/Project/update_managers.html.twig #}
{#
    Here an administrator will can manage the administrators in a project
#}

{% extends "BdtlnProjectBundle::layout_project.html.twig" %}


{% block project_body %}

    
    
        <div class="row clearfix" >
		<div class="col-md-10 column">
			<form action="{{ path('bdtln_project_update_managers', {'slug': project.slug}) }}" class="form-horizontal" id="formulaire" method="POST">
				<fieldset>

					<!-- Form Name -->
					<legend>{{ "Add a user as administrator in" | trans }} {{ (app.request.locale == 'fr') ? project.frenchTitle : project.englishTitle }}</legend>

                                        {#The sessions flashbag like an error written in controller will be displayed here#}
                                        {% for information_add in app.session.flashbag.get('informations_add')%}
                                        <p>
                                            {{ information_add | trans }}
                                        </p>
                                        {% endfor %}

					<!-- Select Basic -->
					<div class="control-group">
					  <label class="control-label" for="selectUser">{{ "Add an administrator" | trans }}</label>
					  <div class="controls">
					    <select id="selectUser" name="selectUser" class="input-xlarge">
                                                <option>-----------</option>
                                                {% for noManager in noManagers %}
                                                    <option value="{{ noManager.id }}">{{ noManager.firstName }} {{ noManager.lastName }}</option>
                                                {% endfor %}
					    </select>
					  </div>
					</div>
                                        <input type="hidden" value="{{app.session.get('token_add_manager') }}" name="token_add_manager" /><br />
                                        <input type="hidden" value="submit_add" name="submit_add" />

					<!-- Button -->
					<div class="control-group">
					  <label class="control-label" for="submit"></label>
					  <div class="controls">
					    <button id="submit" name="submit" class="btn btn-primary">{{ "Add" | trans }}</button>
					  </div>
					</div>
				</fieldset>
                                </form>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
        <!-- Delete a participant -->
        <div class="row clearfix" >
		<div class="col-md-10 column">
			<form action="{{ path('bdtln_project_update_managers', {'slug': project.slug}) }}" class="form-horizontal" id="formulaire" method="POST">
				<fieldset>

					<!-- Form Name -->
					<legend>{{ "Delete an administrator from the project" | trans }} {{ (app.request.locale == 'fr') ? project.frenchTitle : project.englishTitle }}</legend>

                                        {% for information_delete in app.session.flashBag.get('informations_delete') %}
                                            {{ information_delete | trans }}
                                        {% endfor %}
                                            
					<!-- Select Basic -->
					<div class="control-group">
                                            <label class="control-label" for="selectUser">{{ "Delete an administrator" | trans }}</label>
                                            <div class="controls">
                                                <select id="selectUser" name="selectUser" class="input-xlarge">
                                                    <option>-----------</option>
                                                    {% for manager in managers %}
                                                        <option value="{{ manager.id }}"> {{ manager.firstName }} {{ manager.lastName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
					</div>
                                        <input type="hidden" value="{{app.session.get('token_delete_manager') }}" name="token_delete_manager" /><br />

                                        <input type="hidden" value="submit_delete" name="submit_delete" />

					<!-- Button -->

					<div class="control-group">
					  <label class="control-label" for="submit"></label>
					  <div class="controls">
					    <button id="submit" name="submit" class="btn btn-primary">{{ "Delete" | trans }}</button>
					  </div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
    

{% endblock %}