{# src/Bdtln/ProjectBundle/Resources/views/Project/add_axe_in_project.html.twig #}
{#
    Here an administrator will can add an axe in a project
#}

{% extends "BdtlnProjectBundle::layout_project.html.twig" %}

{% block project_body %}
    
    <div class="col-md-12 column">
        {{ "You will add an axe in project" | trans }} <strong>{{ project.englishTitle }}</strong>
        <br />
        {{ "Choose an axe" | trans }}
        <br />
            {# If an error or an information was initialized in the controller, we display
              it here #}
            {% for information_add in app.session.flashbag.get('information_add')%}
                <p>
                    {{ information_add | trans }}
                </p>
            {% endfor %}
            
            {#If this project belong to all axes, we cant display any axe here#}
            {% if axesNotInProject is empty %}
                <p>
                    {{ "This project contains all axes" | trans }}
                </p>
            {% endif %}

            <div class="col-md-6 column" >
                    <h3>{{ "Add an axe" | trans }}
                    <form method="POST" action="{{ path('bdtln_project_update_axes_in_project', {'slug': project.slug}) }}">
                    <select name="axe">
                        <option value="">--------------</option>
                       {#Display all the axes if the proeject don't belong to all axes#}     
                        {% for axe in axesNotInProject %}
                            <option value="{{ axe.id }}">{{axe.englishTitle}}</option>
                        {% endfor %}
                    </select><br />
                    
                    <div class="control-group">
                        <input type="hidden" value="{{app.session.get('token_add') }}" name="token_add" /><br />
                        <input type="hidden" value="add_axe" name="add_axe" />
                        <label class="control-label" for="submit"></label>
                        <div class="controls">
                            <button id="submit" name="submit" class="btn btn-primary">{{ "Add" | trans }}</button>
                        </div>
                    </div>                      
                </form> 
            </div>
            {# If an error or an information was initialized in the controller, we display
              it here #}
            {% for information_delete in app.session.flashbag.get('information_delete')%}
                <p>
                    {{ information_delete | trans }}
                </p>
            {% endfor %}
            <div class="col-md-6 column" >
                <h3>{{ "Delete an axe" | trans }}
                <form method="POST" action="{{ path('bdtln_project_update_axes_in_project', {'slug': project.slug}) }}">
                    <select name="axe">
                        <option value="">--------------</option>
                       {#Display all the axes if the proeject don't belong to all axes#}     
                        {% for axe in axesInProject %}
                            <option value="{{ axe.id }}">{{axe.englishTitle}}</option>
                        {% endfor %}
                    </select><br />
                    <input type="hidden" value="{{app.session.get('token_delete') }}" name="token_delete" /><br />
                    <input type="hidden" value="delete_axe" name="delete_axe" />
                    <button id="submit" name="submit" class="btn btn-primary">{{ "Delete" | trans }}</button>
                </form>
            </div>
            <button id="back" name="back" class="btn btn-primary" onClick="history.back()">{{ "Back" | trans }}</button>  
    </div>   
    
    
{% endblock %}