{# app/Resources/view/header/header.html.twig #}
{#
    There is a header, it will display the header and the login page
#}

<div class="row clearfix">
		<div class="col-md-12 column" id="en_tete">
			<div class="row clearfix">
				<div class="col-md-8 column text-right">
					<img src="{{ asset("bootstrap/img/logo.png") }}">
					<h3>
						Bases de données et traitement du langage naturel
					</h3>
                                        <p id="text-banniere">Université François Rabelais - UFR Sciences et Techniques - Antenne de Blois</p>
				</div>
				<div class="col-md-1 column">
				</div>

				<div class="col-md-1 column">
				</div>
			</div>
		</div>
	</div>
            <div class="row clearfix">
		<div class="col-md-12 column">	
				<nav class="navbar navbar-default" role="navigation" id ="barre_de_menu">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{{ path('bdtln_default_homepage') }}">{{ "Home" | trans }}</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a  class="navbar-brand" href="{{ path('bdtln_axe_homepage') }}">{{ "Axes/Projects" | trans }}</a>
						</li>

						<li>
							<a  class="navbar-brand" href="#">{{ "Researchers pages" | trans }}</a>
						</li>
                                                <li>
                                                    <a class="navbar-brand" href="{{ path('bdtln_project_add_project') }}">{{ "Add a project" | trans }}</a>
                                                </li>
                                                <li>
                                                    <a class="navbar-brand" href="{{ path('bdtln_axe_add_axe') }}">{{ "Add an axe" | trans }}</a>
                                                </li>
                                                
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <li>
                                                        <a class="navbar-brand" href="{{ path('fos_user_profile_show', {'username': app.user.username}) }}">{{ app.user.username }} - </a><a class="navbar-brand" href="{{ path('fos_user_security_logout') }}">{{ "Log out" | trans }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a class="navbar-brand" href="{{ path('fos_user_security_login') }}">{{ "Sign in" | trans }}</a>
                                                    </li>
                                                {% endif %}
                                                <li>
                                                    <a href="{{ path('fos_user_registration_register') }}">{{ 'Add member' | trans }}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:changeLanguageToFrench();" class="navbar-brand">FR</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:changeLanguageToEnglish();" class="navbar-brand">EN</a>
                                                </li>
					</ul>
				</div>	
			</nav>
		</div>
	</div>

